{% extends 'catalog/main.html' %}
 {% block content %}
 <div class="row">
  {% for product in products_of_category %}
  <div class="col-lg-4 col-md-6 mb-4 ml-4 mt-5">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        </h4>
        <h5>Цена: {{ product.price }} руб.</h5>
        <h5>{{ product.brand }}</h5>
      </div>
      <div class="card-footer">
        <p class="text-center"><a href="#"><button class="btn btn-primary" type="submit">Добавить в корзину</button></a></p>
      </div>
    </div>
    </div>
  {% endfor %}
  </div>
 {% endblock %}
